

<h3>Book Store</h3>

<p>
  Book details!
</p>


<table>
  <tr>
    <th> Id</th>
    <th>ISBN</th>
    <th>Title</th>
    <th>SubTitle</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let book of allBooks">
    <td>{{book.Id}}</td>
    <td>book.ISBN</td>
    <td>{{book.title}}</td>
    <td>{{book.Description}}</td>
    <td><button type="button" (click)="loadBookToEdit(book.id)">Edit</button> </td>
    <td><button type="button" (click)="deleteBook(book.id)">Delete</button></td>
  </tr>
</table>